
    <header class="d-flex align-items-center">
        <div class="header-sale col-md-10">
            <div class="row text-center text-danger">
                <div class="col">Giao Hàng Nhanh</div>
                <div class="col">Deal Hốt Hơn Họt</div>
                <div class="col">Giảm 50%</div>
                <div class="col">Freeship</div>
            </div>
        </div>
        <div class="header-language ms-auto d-flex align-items-center col-md-2 justify-content-end">
            <!-- Dropdown ngôn ngữ -->
            <div class="dropdown me-2">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-globe" style="color: #2b2b2b; font-size: 20px;"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Tiếng Việt</a></li>
                    <li><a class="dropdown-item" href="#">English</a></li>
                </ul>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="languageSwitch">
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand ms-5 col-md-2 text-center" href="index.html">
                <img src="image/logo.png" alt="Logo" class="d-inline-block align-text-top" style="height: 120px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="search-bar d-flex align-items-center mt-3 col-md-5">
                    <div class="search-icon me-2">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <input type="text" placeholder="Search product!!!" class="search-input flex-grow-1">
                    <button class="search-button ms-3"><span><i
                                class="fa-solid fa-magnifying-glass"></i></span></button>
                </div>
                <div class="d-flex align-items-center me-5 col-md-5 justify-content-center">
                    <a href="cart.html" class="btn position-relative me-3">
                        <i class="fas fa-shopping-cart" style="height: 7px;"><span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span></i>
                        Giỏ hàng

                    </a>
                    <a href="wishlist" class="btn me-3">
                        <i class="fas fa-heart"></i> Yêu Thích
                    </a>
                    <a href="login.html" class="btn me-3">
                        Đăng nhập/Đăng kí
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <h2 class="text-center mb-5">SẢN PHẨM YÊU THÍCH CỦA BẠN</h2>
    <div class="container ms-5">
      <div class="row">
        <!-- Vòng lặp qua danh sách sản phẩm yêu thích -->
        <div *ngFor="let item of wishlistItems" class="col-md-3 mb-4">
            <div class="card" style="width: 20rem;">
              <div class="card-overlay">
                <button class="btn btn-light mb-2">Add to cart</button>
                <div>
                  <button class="btn btn-link text-white me-5">
                    <i class="fa-solid fa-share-nodes"></i> Share
                  </button>
                  <button class="btn btn-link text-white" (click)="removeFromWishlist(item.productID)">
                    <i class="fa-solid fa-heart" [ngClass]="{'text-danger': isLiked}"></i> {{ isLiked ? 'Like' : 'Dislike' }}
                  </button>
                </div>
              </div>
              <img [src]="getImageSrc(item.images)" class="card-img-top" >
              <div class="discount-badge" >Sale</div>
              <div class="card-body">
                <h5 class="card-title">{{ item.productName }}</h5>
                <div class="price text-danger">
                  <p>{{ item.price | currency:'VND':'symbol' }}</p>
                </div>
           
                <b>Đã bán {{ item.sold }}k</b>
              </div>
            </div>
          </div>
          
      </div>
      <!-- Thông báo khi wishlist trống -->
      <p *ngIf="wishlistItems.length === 0" class="text-center mt-5">Bạn chưa có sản phẩm yêu thích nào.</p>
    </div>
    
        <div class="row mt-4">
         
        </div>
    

    <footer class="footer py-4 mt-5">
        <div class="container">
            <div class="row">
                <!-- Logo and Company Info -->
                <div class="col-md-4 mb-3">
                    <img src="image/logo.png" alt="Company Logo" class="mb-2" style="max-width: 150px;">
                    <p>CÔNG TY TNHH 4 Anh Em</p>
                    <p>Giấy chứng nhận đăng ký doanh nghiệp số 030918188, cấp ngày 29/01/2011, nơi cấp sở kế hoạch và
                        đầu tư TP HCM.</p>
                    <p>Trụ sở chính: Tổ X9-012, TP Hồ Chí Minh, VN</p>
                    <p>Điện thoại: 0123456789</p>
                    <img src="image/image 24.png" alt="Bộ Công Thương" class="mt-2" style="max-width: 120px;">
                </div>

                <!-- Social Media -->
                <div class="col-md-2 mb-3">
                    <h6>Theo dõi chúng tôi</h6>
                    <div class="d-flex">
                        <a href="#" class="mb-2"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="mb-2"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="mb-2"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                    <div class="flex-column">
                        <h6>Chấp nhận Phương thức thanh toán</h6>
                        <img src="image/image 29.png" alt="VNPay" class="mb-2" style="max-width: 100px;">
                        <img src="image/image 30.png" alt="MoMo" style="max-width: 100px;">
                    </div>
                </div>

                <!-- Payment Methods -->


                <!-- About Us -->
                <div class="col-md-2 mb-3">
                    <h6>Về chúng tôi</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Cẩm nang làm đẹp</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Địa chỉ cửa hàng</a></li>
                        <li><a href="#">Cho thuê mặt bằng</a></li>
                    </ul>
                </div>

                <!-- Policies -->
                <div class="col-md-3 mb-3">
                    <h6>Chính sách</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Chính sách và quy định chung</a></li>
                        <li><a href="#">Quy định và hình thức thanh toán</a></li>
                        <li><a href="#">Chính sách vận chuyển</a></li>
                        <li><a href="#">Chính sách đổi/trả hàng và hoàn tiền</a></li>
                        <li><a href="#">Chính sách bảo mật thông tin cá nhân</a></li>
                        <li><a href="#">Hướng dẫn mua hàng</a></li>
                        <li><a href="#">Quy trình xuất hóa đơn điện tử</a></li>
                        <li><a href="#">Chính sách Thông tin Hội Cầm</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-7">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4581.7122074656945!2d106.62223831125394!3d10.854452289254485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a213fc53707%3A0x282726c50d505dd2!2zNDIgxJAuIFTDtCBLw70sIFRydW5nIE3hu7kgVMOieSwgUXXhuq1uIDEyLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e1!3m2!1svi!2s!4v1727494769344!5m2!1svi!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-5">
                    <h4>Địa chỉ cửa hàng</h4>
                    <div class="location d-flex">
                        <p><i class="fa-solid fa-location-dot"></i></p>
                        <p>42 Tô Ký Trung Mỹ Tây Quận 12</p>
                    </div>
                    <div class="phone-number d-flex">
                        <p> <i class="fa-solid fa-phone"></i></p>
                        <p>024 12345678</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/66069d7296.js" crossorigin="anonymous"></script>
    <script src="/static/user/js/script.js"></script>
