<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link"><img class="brand-image img-circle elevation-3" style="opacity: .8"><span
            class="brand-text font-weight-light"></span></a>

    <!-- Sidebar -->

    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <a href="/brand"> brand</a>
        </div>
        <div class="info">
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group">
            <div class="input-group-append">

            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item menu-open"><a href="#" class="nav-link active"><i class="nav-icon fas fa-table"></i>
                    <p>
                        Quản Lý <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item"><a href="statistics" class="nav-link "><i class="far fa-circle nav-icon"></i>
                            <p>Thống Kê Sản Phẩm</p>
                        </a></li>
                    <li class="nav-item"><a href="admin" class="nav-link "><i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Sản Phẩm</p>
                        </a></li>
                    <li class="nav-item"><a href="order" class="nav-link "><i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Đơn Hàng</p>
                        </a></li>
                    <li class="nav-item"><a href="discount" class="nav-link "><i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Mã Giảm Giá</p>
                        </a></li>

                    <li class="nav-item"><a href="qldiscount-sp" class="nav-link "><i
                                class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Mã Giảm Giá SP</p>
                        </a></li>
                    <li class="nav-item"><a href="employees" class="nav-link "><i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý nhân viên</p>
                        </a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item menu-open"><a href="#" class="nav-link active"><i class="nav-icon fas fa-table"></i>
                    <p>
                        Thêm Mới <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">

                    <li class="nav-item"><a href="discount-sp" class="nav-link "><i class="far fa-circle nav-icon"></i>
                            <p>Thêm Mới Mã Giảm Giá SP</p>
                        </a></li>

                    <li class="nav-item"><a href="create" class="nav-link "><i class="far fa-circle nav-icon"></i>
                            <p>Thêm Mới Sản Phẩm</p>
                        </a></li>
                    <li class="nav-item"><a href="create-discount" class="nav-link "><i
                                class="far fa-circle nav-icon"></i>
                            <p>Thêm Mới Mã Giảm Giá</p>
                        </a></li>

                </ul>
            </li>
        </ul>
    </nav>
</aside>