<header class="d-flex align-items-center">
    <div class="header-sale col-md-10">
        <div class="row text-center text-danger">
            <div class="col">Giao Hàng Nhanh</div>
            <div class="col">Deal Hốt Hơn Họt</div>
            <div class="col">Giảm 50%</div>
            <div class="col">Freeship</div>
        </div>
    </div>
    <div class="header-language ms-auto d-flex align-items-center col-md-2 justify-content-end">
        <!-- Dropdown ngôn ngữ -->
        <div class="dropdown">
            <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-globe" style="color: #2b2b2b; font-size: 20px;"></i>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tiếng việt</a></li>
                <li><a class="dropdown-item" href="#">Tiếng ANh</a></li>
            </ul>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="languageSwitch">
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand ms-5 col-md-2 text-center" href="index.html">
            <img src="image/logo.png" alt="Logo" class="d-inline-block align-text-top" style="height: 120px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="search-bar d-flex align-items-center mt-3 col-md-5">
                <div class="search-icon me-2">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <input type="text" [(ngModel)]="keyword" (input)="searchProducts()"
                    placeholder="Tìm kiếm sản phẩm..." />
            </div>
            <div class="d-flex align-items-center me-5 col-md-5 justify-content-center">
                <a href="cart.html" class="btn position-relative me-3">
                    <i class="fas fa-shopping-cart" style="height: 7px;"><span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span></i>
                    Giỏ hàng

                </a>
                <a href="wishlist.html" class="btn me-3">
                    <i class="fas fa-heart"></i> Yêu Thích
                </a>
                <a href="login.html" class="btn me-3">
                    Đăng nhập/Đăng kí
                </a>
            </div>
        </div>
    </div>
</nav>


<!-- Bottom Menu -->
<div class="container-fluid py-2 border-top" id="navbarNavDropdown">
    <div class="d-flex justify-content-center">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-bars"></i> Danh mục sản phẩm
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li *ngFor="let category of category">
                  <a class="dropdown-item" (click)="selectCategory(category.categoryID, $event)">
                    {{ category.categoryName }}
                  </a>
                </li>
              </ul>
              
        </div>


        <a href="#" class="me-3">Giới thiệu</a>
        <a href="#" class="me-3">Khuyến mãi</a>
        <a class="dropdown" href="#">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Xu
                hướng làm đẹp
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </a>
        <a class="dropdown" href="#">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Thương
                hiệu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </a>
        <a href="#" class="me-3">Hàng mới về</a>
        <a href="#" class="me-3">Liên hệ</a>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mt-3">
        <div class="sidebar bg-white ms-5 border-right">
            <h3 class="filter-title">BỘ LỌC TÌM KIẾM</h3>

            <!-- Filter Section: Danh Mục -->
            <div class="filter-section mb-4" *ngIf="subcategory.length > 0">
                <h3 class="h4">{{ selectedCategoryName1 }}</h3> <!-- Tên danh mục mẹ -->
                <ul class="list-unstyled">
                    <li *ngFor="let subcategory of subcategory">
                        <a (click)="onSubcategoryClick(subcategory.subcategoryID)" class="subcategory-link"
                            [class.active]="selectedSubcategoryID.includes(subcategory.subcategoryID)">
                            {{ subcategory.subcategoryName }}
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Filter Section: Loại Da -->
            <!-- <div class="filter-section mb-4">
                <h3 class="h6">Loại Da</h3>
                <ul class="list-unstyled">
                    <li><input type="checkbox" id="da-hon-hop" name="da-hon-hop"> <label for="da-hon-hop">Da Hỗn
                            Hợp</label></li>
                    <li><input type="checkbox" id="da-nhay-cam" name="da-nhay-cam"> <label for="da-nhay-cam">Da Nhạy
                            Cảm</label></li>
                    <li><input type="checkbox" id="da-thuong" name="da-thuong"> <label for="da-thuong">Da
                            Thường</label></li>
                </ul>
            </div> -->

            <!-- Other Filter Sections -->
            <div class="filter-section mb-4">
                <h3 class="h6">Xuất Xứ Thương Hiệu</h3>
                <ul class="list-unstyled">
                    <li><input type="checkbox" id="thuy-dien" name="thuy-dien"> <label for="thuy-dien">Thụy
                            Điển</label></li>
                    <li><input type="checkbox" id="thuy-si" name="thuy-si"> <label for="thuy-si">Thụy Sĩ</label>
                    </li>
                    <li><input type="checkbox" id="y" name="y"> <label for="y">Ý</label></li>
                    <li><input type="checkbox" id="anh" name="anh"> <label for="anh">Anh</label></li>
                </ul>
            </div>
            <!-- 
            <div class="filter-section mb-4">
                <h3 class="h6">Vấn Đề Về Da</h3>
                <ul class="list-unstyled">
                    <li><input type="checkbox" id="da-mun" name="da-mun"> <label for="da-mun">Da Mụn</label></li>
                    <li><input type="checkbox" id="da-dau" name="da-dau"> <label for="da-dau">Da Dầu</label></li>
                    <li><input type="checkbox" id="da-xin" name="da-xin"> <label for="da-xin">Da xin màu</label>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <div class="col-md-9">
        <span class="span mt-3">
            <h4>{{selectedCategoryName||selectedSubcategoryName}}</h4> <!-- Hiển thị tên danh mục mẹ hoặc con -->
        </span>
        <div class="filter-bar mb-4 p-3 border bg-light">

            <div class="filter-bar-options mt-3">
                <label for="filter" class="mr-2 font-weight-bold">Lọc theo</label>
                Thương hiệu
            </div>
            <div class="filter-bar-options mt-3">
                <label for="sort" class="mr-2 font-weight-bold">Sắp xếp theo</label>
                <div class="btn-group">
                    <button class="btn btn-outline-secondary">Nổi bật</button>
                    <button class="btn btn-outline-secondary">Bán chạy</button>
                    <button class="btn btn-outline-secondary">Hàng mới</button>
                    <button class="btn btn-outline-secondary">Giá cao tới thấp</button>
                    <button class="btn btn-outline-secondary">Giá thấp tới cao</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="swiper mySwiper ms-5">
                <div class="swiper-wrapper">
                    <div *ngFor="let product of filteredProducts" class="swiper-slide">
                        <div class="card" style="width: 20rem;">
                            <div class="card-overlay">
                                <button class="btn btn-light mb-2">Add to cart</button>
                                <div>
                                    <button class="btn btn-link text-white me-5">
                                        <i class="fa-solid fa-share-nodes"></i> Share
                                    </button>
                                    <button class="btn btn-link text-white">
                                        <i class="fa-solid fa-heart"></i> Like
                                    </button>
                                </div>
                            </div>
                            <img [src]="getImageSrc(product.firstImage)" alt="Product Image" width="100%"
                                height="100%" />

                            <div class="card-body">
                                <h5 class="card-title">{{ product.productName }}</h5>
                                <div class="price text-danger">
                                    <h5>{{ product.price }} VND</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer mt-5">
            <div class="p-5">
                <div class="row justify-content-center ms-5">
                    <!-- Logo and Company Info -->
                    <div class="col-md-4 mb-3 ">
                        <img src="image/logo.png" alt="Company Logo" class="mb-2" style="max-width: 150px;">
                        <p>CÔNG TY TNHH 4 Anh Em</p>
                        <p>Giấy chứng nhận đăng ký doanh nghiệp số 030918188, cấp ngày 29/01/2011, nơi cấp sở kế hoạch
                            và
                            đầu tư TP HCM.</p>
                        <p>Trụ sở chính: Tổ X9-012, TP Hồ Chí Minh, VN</p>
                        <p>Điện thoại: 0123456789</p>
                        <img src="image/image 24.png" alt="Bộ Công Thương" class="mt-2" style="max-width: 120px;">
                    </div>

                    <!-- Social Media -->
                    <div class="col-md-2 mb-3">
                        <h6>Theo dõi chúng tôi</h6>
                        <div class="d-flex">
                            <a href="#" class="mb-2"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#" class="mb-2"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="mb-2"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                        </div>
                        <div class="flex-column">
                            <h6>Chấp nhận Phương thức thanh toán</h6>
                            <img src="image/image 29.png" alt="VNPay" class="mb-2" style="max-width: 100px;">
                            <img src="image/image 30.png" alt="MoMo" style="max-width: 100px;">
                        </div>
                    </div>

                    <!-- Payment Methods -->


                    <!-- About Us -->
                    <div class="col-md-2 mb-3 ">
                        <h6>Về chúng tôi</h6>
                        <ul class="list-unstyled ">
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Cẩm nang làm đẹp</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Địa chỉ cửa hàng</a></li>
                            <li><a href="#">Cho thuê mặt bằng</a></li>
                        </ul>
                    </div>

                    <!-- Policies -->
                    <div class="col-md-4 mb-3">
                        <h6>Chính sách</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Chính sách và quy định chung</a></li>
                            <li><a href="#">Quy định và hình thức thanh toán</a></li>
                            <li><a href="#">Chính sách vận chuyển</a></li>
                            <li><a href="#">Chính sách đổi/trả hàng và hoàn tiền</a></li>
                            <li><a href="#">Chính sách bảo mật thông tin cá nhân</a></li>
                            <li><a href="#">Hướng dẫn mua hàng</a></li>
                            <li><a href="#">Quy trình xuất hóa đơn điện tử</a></li>
                            <li><a href="#">Chính sách Thông tin Hội Cầm</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-7">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4581.7122074656945!2d106.62223831125394!3d10.854452289254485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a213fc53707%3A0x282726c50d505dd2!2zNDIgxJAuIFTDtCBLw70sIFRydW5nIE3hu7kgVMOieSwgUXXhuq1uIDEyLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e1!3m2!1svi!2s!4v1727494769344!5m2!1svi!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-md-5">
                        <h4>Địa chỉ cửa hàng</h4>
                        <div class="location d-flex">
                            <p><i class="fa-solid fa-location-dot"></i></p>
                            <p>42 Tô Ký Trung Mỹ Tây Quận 12</p>
                        </div>
                        <div class="phone-number d-flex">
                            <p> <i class="fa-solid fa-phone"></i></p>
                            <p>024 12345678</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/66069d7296.js" crossorigin="anonymous"></script>
        <script src="/static/user/js/script.js"></script>